* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#minicircle {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 99999;
  border-radius: 50%;
  box-shadow: 0 0 25px 10px #d85811;
  background-color: white;
}
#main {
  background-color: black;
  width: 100%;
}
#nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 3vw;
}
#logo {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo a {
  text-decoration: none;
  font-size: 2vw;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
#logo i {
  color: #fff;
  font-size: 2.4vw;
  display: block;
}
#nav-content {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-content a {
  text-decoration: none;
  color: #fff;
  font-size: 1vw;
  font-family: "Inter", sans-serif;
}
#sign-in {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sign-in button {
  position: relative;
  padding: 1vh 1.5vw;
  border: 1px solid #d85811;
  font-size: 1vw;
  border-radius: 100px;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
}
#sign-in button:hover{
    color:var(--clr) ;
    text-shadow: 0 0 10px var (--clr),
    0 0 40px var(--clr);
}
#sign-in button span{
    position: relative;
    z-index: 1;
}
#sign-in button::before{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    background: radial-gradient(var(--clr),transparent,transparent);
    transition: 0.5s,top 0s,left 0s;
    opacity: 0;
}
#sign-in button:hover::before{
    opacity: 1;
}
#sign-in button::after{
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 47px;
}

/* #nav i {
  font-size: 2vw;
  display: none;
} */
#nav-content a:hover {
  font-size: 1.01vw;
  color: #d85811;
}
#first-sec {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2vh 5vw;
}
#first-sec p {
  font-size: 1rem;
  color: #fff;
}
#first-sec-content {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#first-sec-content-h2 h2 {
  font-size: 3vw;
  width: 55%;
  line-height: 4rem;
  color: #fff;
  font-weight: 700;
}
#first-sec-content-icon {
  height: 20vh;
  width: 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2vh;
}
#first-sec-content-icon i {
  font-size: 1.5rem;
  background-color: #fff;
  border-radius: 5px;
  border-radius: 50%;
}
#first-sec-input {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#name input {
  width: 30%;
  font-size: 1.2rem;
  background-color: black;
  padding: 2.5vh 0;
  border: none;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

#msg input {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 2vh;
  padding: 3.5vh 0;
  background-color: black;
  border: none;
  border-bottom: 1px solid #fff;
  color:#fff;
}
#btn button {
  padding: 2vh 2vw;
  font-size: 0.8rem;
  background-color: #d85811;
  border-radius: 25px;
  color: #fff;
}
#second-sec {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#white-bg {
  height: 45vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 5vh 5vw;
}
#white-bg-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#white-bg-content h2 {
  font-size: 2.5vw;
  width: 33%;
}
#email-address {
  width: 24%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
#email-address hr {
  width: 10%;
  font-size: 1vh;
  font-weight: bold;
  color: black;
}
#email-address p {
  width: 40%;
  line-height: 2.5vh;
}
#number {
  width: 24%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
#number hr {
  width: 10%;
  font-size: 1vh;
  font-weight: bold;
  color: black;
}
#number p {
  width: 40%;
  line-height: 2.5vh;
}
#footer-contact {
  height: 25vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5vh 5vw;
}
#subscribe {
  width: 55%;
  height: 15vh;
  display: flex;
  flex-direction: column;
}
#subscribe h2 {
  font-size: 2.5vw;
  color: #fff;
  margin-bottom: 2vh;
}
#subscribe h4 {
  color: #fff;
  width: 55%;
  opacity: 0.6;
  line-height: 2vh;
}
#subscribe-btn {
  width: 45%;
  display: flex;
  flex-direction: row;
}
#subscribe-btn input {
  width: 45%;
  padding: 1vh 1vw;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgb(27, 26, 26);
  border: 1px solid rgb(27, 26, 26);
}
#subscribe-btn button {
  width: 15%;
  padding: 1vh 1vw;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #d85811;
  border: 1px solid #d85811;
}
#footer {
  margin-top: 10vh;
  width: 100%;
  height: 18vh;
  background-color: #d85811;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer-cpy h4 {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 400;
}
#footer-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1vw;
}
#footer-home a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}
#footer-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1vw;
}
#footer-icon i {
  font-size: 1.8rem;
  background-color: white;
  border-radius: 3px;
}
